.avatar-image_wrapper {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 6px;
  overflow: hidden;

  @include media-query($on-palm) {
    display: block;
    margin-bottom: 15px;
  }

  img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
  }
}

.avatar-text {
  display: inline-block;
  width: calc(100% - 225px);
  padding-left: 15px;
  vertical-align: top;

  @include media-query($on-palm) {
    display: block;
    width: 100%;
    padding-left: 0;
  }
}
