.popup {
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 500px;
  padding: 30px 40px 30px 30px;
  position: relative;
}

.popup-backdrop {
  background: rgba(20, 20, 20, 0.3);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 50px 15px;
}

.popup-close {
  background: none;
  color: #333;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
}

.popup-header {
  font-size: 32px;
  line-height: 36px;
}
