.form-row {
  margin-bottom: 15px;
}

.form-row label {
  width: 80px;
  display: inline-block;
}

.SignUpForm-submit {
  font-size: 25px;
  text-decoration: none;
  padding: 20px;
  display: block;
  max-width: 350px;
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 75px;
  line-height: 1;
  text-align: center;
  border-radius: 6px;
  border: none;
  text-transform: uppercase;
  font-family: 'Open Sans';
}
