<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

  <script>window.askUser={show:function(){window.askUser.triggered=!0}}</script>
  <script async src='https://askuser.xyz/widget.js' data-site-id='-L-s2sU7QTAEgnzV_73Q'></script>
</html>
